


.banner {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0%;
  margin: 0%;
  text-align: center;
  background: rgb(49, 57, 70);
  
  position:relative;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  background: rgb(25, 34, 49);
  color: aliceblue;
  padding: 0%;
  margin: 0%;
}

table { 
  border-collapse: collapse; 
  border-spacing: 0; 
  padding: 0; 
  margin: 0%;
  width: 100%;
  height: 100%;
  background: rgb(49, 57, 70);
}

.wrapper{
  margin-inline: auto;
}

caption {
  font-size:large;
  font-weight: bolder;
}

th {
  text-align: left;
  font-size: medium;
}

td {
  text-align: left;
  font-size: medium;

}

caption,
th, 
td {
  padding: 1rem;
}

table, 
th, 
td {
  border:1px solid white
}